<!doctype html>
<html lang="en" layout:decorate="~{layouts/full}">
  <body>
    <main layout:fragment="content" class="container mx-auto flex grow items-center justify-center">
      <div class="text-center">
        <p class="text-2xl font-semibold" th:text="${status} ?: _">Oops</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl" th:if="${error}" th:text="${error}">
          Error Message
        </h1>
        <p class="mt-6 text-base leading-7" th:text="${message} ?: _">Sorry, we are having trouble.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a th:href="@{/}" class="btn btn-accent">Go back home</a>
        </div>
      </div>
    </main>
  </body>
</html>
